* {
  margin: 0;
  padding: 0;
}

h1{
  font-size: 4rem;
}

body {
  background-color: #568687;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.box {
  height: 18vmin;
  width: 18vmin;
  font-size: 15vmin;
  font-weight: 700;
  color: #b0413e;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

#reset-btn , #new-btn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 1rem;
}

#msg {
  color: white;
  font-size: 6vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hide {
  display: none;
}

.box.O {
  color: green;
}
.box.X{
  color: red;
}